/*
  Learn more:
  https://www.sanity.io/guides/how-to-brand-your-studio
*/

/* Custom fonts */
/*
  @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*/

:root {
  /* Brand colors */
  /*
  --brand-primary: var(--brand-primary);
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #ffa800;
  --brand-secondary--inverted: #3c1609;
  */
  /* Typography */
  /*
  --font-family-sans-serif: 'Nunito';
  --font-size-base: 18px;
  --text-color: var(--brand-secondary--inverted);
  */
  /* Main Navigation */
  --main-navigation-color: 	#4169E1;
  --main-navigation-color--inverted: 	#fff;
}

:global(.formView_root_3UiZr) {
  max-width: 85%;
}
:global(.DefaultFormField_root_1aVxI){
  max-width: 500px;
}
:global(.tabs_content_object_feGh5){
  padding-bottom: 50px;
  padding-left: 50px;
}
:global([class^='DefaultPane_headerToolContainer_'] a[class^='DefaultButton_root_']){
  background: #4169E1;
  border: 1px solid #4169E1;
  border-radius: 5px;
  height: 33px;
  color: #ffffff;
}
:global(.DefaultPane_headerToolContainer_3B1OM a.DefaultButton_root_i03nr:before){
  content: "Create";
  line-height: 29px;
  text-align: center;
  padding-left: 29px;
}
:global(.DefaultPane_headerToolContainer_3B1OM a.DefaultButton_root_i03nr svg){
  display: none;
}
