/*
  Learn more:
  https://www.sanity.io/guides/how-to-brand-your-studio
*/

/* Custom fonts */
/*
  @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*/

:root {
  /* Brand colors */
  /*
  --brand-primary: var(--brand-primary);
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #ffa800;
  --brand-secondary--inverted: #3c1609;
  */
  /* Typography */
  /*
  --font-family-sans-serif: 'Nunito';
  --font-size-base: 18px;
  --text-color: var(--brand-secondary--inverted);
  */
  /* Main Navigation */
  --main-navigation-color: 	#4169E1;
  --main-navigation-color--inverted: 	#fff;
 
}

.createButton
{
  display:none;
}

.tabs_content_document_1AuyP {
  border: 1px solid rgba(93, 113, 145, 0.35);
  border-top: 0;
  padding: 0 20px 20px;
}
