.componentWrapper p {
  padding: 1em;
}

.iframeContainer iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iframeContainer iframe .cw_main_container{
  width:100%;
  color:red;
}