
.hidden{ display:none;}
.cw_main_container .cw_product_container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; 
    padding: 0px;
}
.cw_main_container .cw_product_container .category_title {
    text-align: center;
    display: block;
    color: #c79652;
    font-size: 2rem;
    margin: 0;
    padding: 30px 0;
}
.cw_main_container .cw_product_container .category_sub_title{
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    margin: -20px 0 30px 0;
    color: #c79652;
}
.cw_main_container .cw_product_container ul.cw_product_list{width: 100%;display: block;margin: 0; padding: 0px; overflow: hidden;}

.cw_main_container .cw_product_container .item{
    margin: 0 1% 20px 1%; 
    padding: 10px; 
    list-style: none; 
    text-align: center;
    width: 23%; 
    border:1px solid #c79652;
    box-sizing: border-box;
    display: inline-block;
}

.cw_main_container .cw_product_container.cw_product_carousel .item{
    padding: 10px;
    list-style: none;
    text-align: center;
    margin: 0px 10px;
    border: 1px solid #c79652;
    box-sizing: border-box;
    display: inline-block;
    width: auto;
}

.cw_main_container .cw_product_container .item:hover, .cw_main_container .cw_product_container .item.active{background-color: #f4f4f4;}

.cw_main_container .cw_product_container .item .cw_product_img{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 210px;
    overflow: hidden;
}
.cw_main_container .cw_product_container .cw_product_title{
    font-size: 1rem;
    color: rgb(36, 18, 1);
    padding: 10px 0px;
    height: 65px;
}



.cw_main_container .cw_product_container .item img{height: auto;max-width: 100%; /* or max-width: 100%; */}
.cw_main_container .cw_product_container .item .cw_btn_wrap{text-align: center; display: block;}
.cw_main_container .cw_product_container .item .cw_btn_wrap .cw_btn_buynow{border: solid 1px #c79652;border-radius: 4px;padding: 8px 20px;font-size: 1rem;color: #c79652;background: #fff; cursor: pointer; width:100%;}

.cw_main_container .cw_product_container .item .cw_btn_wrap .cw_btn_buynow:hover,.cw_main_container .cw_product_container .item .cw_btn_wrap .cw_btn_buynow:focus,.cw_main_container .cw_product_container .item .cw_btn_wrap .cw_btn_buynow:active{border-color: #c79652; color: #fff; background: #c79652;outline: none;}

.cw_main_container .cw_product_container .item:hover > .cw_btn_wrap .cw_btn_buynow, .cw_main_container .cw_product_container .item.active > .cw_btn_wrap .cw_btn_buynow{border-color: #c79652; color: #fff; background: #c79652;outline: none;}

.cw_main_container .cw_product_container .cw_load_cta{display: block; overflow: hidden;  margin: 10px 0 30px 0;}
.cw_main_container .cw_product_container .cw_load_cta .cw_btn_load{border: solid 1px #c79652;border-radius: 4px;padding: 8px 20px;font-size: 1rem;color: #c79652;background: #fff;cursor: pointer;width: 200px;display: block;margin: 0 auto;}
.cw_main_container .cw_product_container .cw_load_cta .cw_btn_load:hover{color: #ffffff; background-color: #c79652;}


.cw_main_container .cw_product_container .react-multiple-carousel__arrow::before {
    font-size: 22px;
    color: #c79652;
    font-weight: bold;
}
.cw_main_container .cw_product_container .react-multiple-carousel__arrow {
    background: #fff;
    box-shadow: 0px 0px 4px 0px #888888;
    width: 35px;
    height: 35px;
}
