.cw_main_container .cw_container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; 
    padding: 0px;
}

.hidden
{
    display:none;
}

.cw_main_container .cw_container .cw_product_list{width: 100%;display: block;margin: 0; padding: 0px; overflow: hidden;}
.cw_main_container .cw_container .cw_product_list li{margin: 0 1% 20px 1%; padding: 10px; list-style: none; text-align: center;width: 23%; border:1px solid #c79652;box-sizing: border-box;display: inline-block;}
/* .cw_main_container .cw_container .cw_product_list li:nth-child(4), .cw_main_container .cw_container .cw_product_list li:nth-child(8), .cw_main_container .cw_container .cw_product_list li:nth-child(12), .cw_main_container .cw_container .cw_product_list li:nth-child(16){margin-right: 0px;} */
.cw_main_container .cw_container .cw_product_list li:hover, .cw_main_container .cw_container .cw_product_list li.active{background-color: #f4f4f4;}
.cw_main_container .cw_container .cw_product_list li .cw_roduct_img{margin: 0; padding: 0px;}
.cw_main_container .cw_container .cw_product_list li img{height: auto;max-width: 100%; /* or max-width: 100%; */}
.cw_main_container .cw_container .cw_product_list li .cw_btn_wrap{text-align: center; display: block;}
.cw_main_container .cw_container .cw_product_list li .cw_btn_wrap .cw_btn_buynow{border: solid 1px #c79652;border-radius: 4px;padding: 8px 20px;font-size: 1rem;color: #c79652;background: #fff; cursor: pointer; width:100%;}
.cw_main_container .cw_container .cw_product_list li .cw_btn_wrap .cw_btn_buynow:hover,.cw_main_container .cw_container .cw_product_list li .cw_btn_wrap .cw_btn_buynow:focus,.cw_main_container .cw_container .cw_product_list li .cw_btn_wrap .cw_btn_buynow:active{border-color: #c79652; color: #fff; background: #c79652;outline: none;}
.cw_main_container .cw_container .cw_product_list li .cw_product_title{font-size: 1rem; color: #241201;padding: 10px 0;height: 70px;}
.cw_main_container .cw_container .cw_product_list li:hover > .cw_btn_wrap .cw_btn_buynow, .cw_main_container .cw_container .cw_product_list li.active > .cw_btn_wrap .cw_btn_buynow{border-color: #c79652; color: #fff; background: #c79652;outline: none;}

.cw_main_container .cw_container .cw_load_cta{display: block; overflow: hidden;  margin: 10px 0 30px 0;}
.cw_main_container .cw_container .cw_load_cta .cw_btn_load{border: solid 1px #c79652;border-radius: 4px;padding: 8px 20px;font-size: 1rem;color: #c79652;background: #fff;cursor: pointer;width: 200px;display: block;margin: 0 auto;}

.cw_main_container .category_title {
    text-align: center;
    display: block;
    color: #c79652;
   
}
.cw_main_container .cw_container_slider{width:100%}
.product_slider{position: relative;max-width: 1140px;}
.product_slider .MS-content {white-space: nowrap;overflow: hidden;}
.product_slider .MS-content .item {text-align: center;display: inline-block;position: relative;vertical-align: top;overflow: hidden;height: 100%;
white-space: normal;padding: 10px;box-sizing: border-box;border: 1px solid #c79652;margin-right: 2%;}
.product_slider .MS-content .item:hover, .product_slider .MS-content .item.active{background-color: #f4f4f4;}
.cw_main_container .product_slider .MS-content .item img{height: auto;max-width: 100%; /* or max-width: 100%; */}
.cw_main_container .product_slider .MS-content .item .cw_btn_wrap{text-align: center; display: block;}
.cw_main_container .product_slider .MS-content .item .cw_btn_wrap .cw_btn_buynow{border: solid 1px #c79652;border-radius: 4px;padding: 6px 20px;font-size: 1rem;color: #c79652;background: #fff; cursor: pointer; width:100%;}
.cw_main_container .product_slider .MS-content .item .cw_btn_wrap .cw_btn_buynow:hover,.cw_main_container .product_slider .MS-content .item .cw_btn_wrap .cw_btn_buynow:focus,.cw_main_container .product_slider .MS-content .item .cw_btn_wrap .cw_btn_buynow:active{border-color: #c79652; color: #fff; background: #c79652;outline: none;}
.cw_main_container .product_slider .MS-content .item .cw_product_title{font-size: 1rem; color: #241201;padding: 15px 0;height: 70px;}
.product_slider .MS-content .item:hover > .cw_btn_wrap .cw_btn_buynow, .product_slider .MS-content .item.active > .cw_btn_wrap .cw_btn_buynow{border-color: #c79652; color: #fff; background: #c79652;outline: none;}