.cw_main_container .cw_footer{background:none;}
.cw_main_container .cw_footer .cw_footer_links{float: none;width: 100%;text-align: center;background: #f2f2f2; padding: 16px 10px; margin:0;}
.cw_main_container .cw_footer .cw_footer_links li{display: inline-block;padding: 0 5px 0 5px;border-left: 1px solid #d1d1d1;margin: 0 0 6px;line-height: 16px; font-size: 0.813rem;}
.cw_main_container .cw_footer .cw_footer_links li:first-child{border-left:none;}
.cw_main_container .cw_footer .cw_footer_links li button{border: 0; background: none; padding: 0; cursor: pointer;}
.cw_main_container .cw_footer .cw_footer_links li button:hover{color:#c79652;}
.cw_main_container .cw_footer .copyright{padding: 15px;margin: 0; font-size: 13px;font-weight: 300;color: #fff;float: none;vertical-align: middle;width: 100%;text-align: center; background-color: #c79652; overflow: hidden;}
.cw_main_container .cw_footer .copyright a{display: block; width: fit-content; color: #fdfff5; margin: 0 auto;}
.cw_main_container .cw_footer .copyright svg{height: 25px; vertical-align: middle;}
.cw_main_container .cw_footer .copyright span{line-height: 27px; margin-left: 10px; vertical-align: middle;}
.cw_main_container #goto_top{z-index: 999;display: none;position: fixed;right: 10px;bottom: 50px;width: 36px;height: 36px;border: none;background: #c79652;text-align: center;}
.cw_main_container #goto_top span{position:absolute;top: -4px;left: 9px;color: #fff;text-align: center;font-size: 1.5rem;line-height: 36px;}
.cw_main_container #goto_top:hover{background: #000;border: none;}

.copy_icon{display: inline-block; width: 12px; height: 12px; background: url(../../images/svg/copy_icon.svg) no-repeat; vertical-align: middle;float: left;
    margin-right: 3px;}

.cw_main_container .cw_footer .cw_footer_socialIcon{
    background: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 22px 0 0 0;
    width: 100%;
    float: none;
}
.cw_main_container .cw_footer .cw_footer_socialIcon li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding:0 10px;
}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.socialIcon{
    width: 30px;
    height: 30px;
    padding:0;
    display: block;
    float: left;
    color: transparent;
    overflow: hidden;
}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.facebook{background-image: url(../../images/svg/facebook.svg);}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.twitter{background-image: url(../../images/svg/twitter.svg);}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.linkedin{background-image: url(../../images/svg/linkedin.svg);}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.pinterest{background-image: url(../../images/svg/pinterest.svg);}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.youtube{background-image: url(../../images/svg/youtube.svg);}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.instagram{background-image: url(../../images/svg/instagram.svg);}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.whatsapp{background-image: url(../../images/svg/whatsapp.svg);}
.cw_main_container .cw_footer .cw_footer_socialIcon li a.snapchat{background-image: url(../../images/svg/snapchat.svg);}
