@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.js_container{}
.js_slider{
  width: 100%; 
  position: relative; 
  overflow: hidden;
  @nest & .slider_content{
    display: -webkit-box;
    /*display: flex;*/
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    @nest & .js_slider_item{
      width:100%; 
      float: left;
     
      @nest & figure{
        width: 100%;
        padding: 0;
        margin: 0;
        height:450px;
        @nest & img{
          width:100%;
        }
      }
    }
  }
}
.js_slider .carousel.carousel-slider .control-arrow{
    width: 20px;
    height: 20px;
    padding: 0;
    opacity: .3;
    visibility: hidden;
}
.js_slider:hover .carousel.carousel-slider .control-arrow{visibility: visible;}
.js_slider .carousel.carousel-slider .control-arrow:hover{opacity: 1; background: none;}
.cw_main_container .js_slider .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before{content: normal;}
.js_slider .carousel.carousel-slider .control-arrow.control-prev{
    left: 10px; top: 48%;
    background-image: url(../../images/svg/left-icon.svg);
}
.js_slider .carousel.carousel-slider .control-arrow.control-next{
    right: 10px; top: 48%;
    background-image: url(../../images/svg/right-icon.svg);
}

.js_slider  button:focus{border:0; outline: none;}
.js_slider button svg{pointer-events: none;}


.carousel-status
{
    display: none;
}

  .carousel .thumbs-wrapper {
   
    display: none;
}


.js_slider .carousel ul.control-dots li.dot{
    padding: 0;
    width: 22px;
    height: 5px;
    border-radius: 20%;
    list-style: none;
    margin: 0 5px 0;
    cursor: pointer; 
    background:#fff;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}
.js_slider .carousel ul.control-dots li.dot.selected {
    background-color: #c79652;
    -moz-animation: boing 0.5s forwards;
    -o-animation: boing 0.5s forwards;
    -webkit-animation: boing 0.5s forwards;
    animation: boing 0.5s forwards;
}
.js_slider .carousel ul.control-dots li.dot:hover {background-color: #c79652;}
