
.carousel-status
{
    display: none;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid black !important;
  }
  
  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid black !important;
  }
  .carousel .thumbs-wrapper {
   
    display: none;
}
.carousel .slide img
{
    max-height: 450px;
}