@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

* {
  box-sizing: border-box;
  box-shadow: none !important;
}

.cw_main_container{
  width: 100%;
  margin: 0;
  padding: 0px;
  float: left;
}

section{
  display: block;
  overflow: hidden;
}

.cw_header{
  text-align: center;
  @nest & img{
    height: 70px;
    padding: 10px;
    max-width: 100%;
    max-height: 100px;
    position: relative;
    z-index: 100;
  }
}

.cw_banner{
  width: 100%;
  max-height: 700px;
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.js_container{}
.js_slider{
  width: 100%; 
  height: 450px; 
  position: relative; 
  overflow: hidden;
  @nest & .slider_content{
    display: -webkit-box;
    /*display: flex;*/
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    @nest & .js_slider_item{
      width:100%; 
      float: left;
      @nest & figure{
        width: 100%;
        padding: 0;
        margin: 0;
        @nest & img{
          width:100%;
        }
      }
    }
  }
  @nest & .slider_button{
    @nest & button{
      position: absolute;
      color: #fff;
      font-size: 3.75rem;
      margin: 0;
      text-shadow: 0 10px 2px #223422;
      transition: 0.3s;
      width: 20px;
      padding: 0;
      background: none;
      cursor: pointer;
      line-height: 0;
      box-sizing: content-box;
      border: 0;
      z-index: 4;
    }
  }
}

.js_slider .slider_button button:focus{border:0; outline: none;}
.js_slider .slider_button button svg{pointer-events: none;}
.js_slider .slider_button button.prev{left: 10px; top: 48%;}
.js_slider .slider_button button.next{right:10px; top: 48%;}








