@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #546e98;

  @media (--media-min-small) {
    padding: 2em;
  }
}
